@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

* {
  border-color:hsl(240, 5.9%, 90%)
}

.bg-background {
  background-color: hsl(0, 0, 100%);
}
